{% extends "layout.html" %}

{% block title %}{{ recipe.recipe_name }}{% endblock %}

{% block content %}
<h2>{{ recipe.recipe_name }}</h2>
<h3>Reseptin muokkaus</h3>
<form action="/update_recipe" method="post" enctype="multipart/form-data">
	<p>
		Reseptin nimi: <br />
		<input type="text" name="recipe_name" value="{{ recipe.recipe_name }}" maxlength="50" required>
	</p>
	{% if recipe.image %}
		<p>
			Nykyinen kuva: <br />
			<img src="/image/{{ recipe.id }}" alt="Reseptin kuva" width="400" height="400"/>
			<p>
				<label>
					<input type="checkbox" name="delete_image">
					Poista kuva
				</label>
			</p>
		</p>
	{% endif %}
	<p>
		Ainesosat: <br />
		<textarea name="ingredients" rows="10" cols="40" maxlength="200" required>{{ recipe.ingredients }}</textarea>
	</p>
	<p>
		Valmistusohjeet: <br />
		<textarea name="instructions" rows="10" cols="60" maxlength="2000" required>{{ recipe.instructions }}</textarea>
	</p>
	<p>
		Ruokavalio: <br />
		{% for diet in diets %}
			<input type="checkbox" name="diet" value="{{ diet.name }}" 
				{% if diet.name in selected_diets %}checked{% endif %} />
			{{ diet.name }}
		{% endfor %}
	</p>
	<p>
		Kategoria: <br />
		<select name="category">
			<option value="">(valitse)</option>
			{% for category in categories %}
			<option value="{{ category.name }}"
				{% if category.name == selected_category %}selected{% endif %}>
				{{ category.name }}
			</option>
			{% endfor %}
		</select>
	</p>
	<p>
		{% if recipe.image %}
		Vaihda kuvaa: <br />
		<input type="file" name="image" accept=".jpg">
		<br>
		<small>Jätä tyhjäksi, jos et halua vaihtaa kuvaa.</small>
		{% else %}
		Lisää kuva (valinnainen): <br />
		<input type="file" name="image" accept=".jpg">
		{% endif %}
	</p>
	<input type="hidden" name="recipe_id" value="{{ recipe.id }}">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
	<input type="submit" value="Päivitä reseptiä">
</form>
<p>
	<a href="/recipe/{{ recipe.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}