<!DOCTYPE html>
<html>

<head>
  <title>Reseptin muokkaus</title>
</head>

<body>
	<h1>Reseptin muokkaus</h1>
	<form action="/update_recipe" method="post">
		<p>
			Reseptin nimi: <br />
			<input type="text" name="recipe_name" value="{{ recipe.recipe_name }}" maxlength="50" required>
		</p>
        <p>
            Ainesosat: <br />
            <textarea name="ingredients" rows="10" cols="40" maxlength="200" required>{{ recipe.ingredients }}</textarea>
        </p>
		<p>
			Valmistusohjeet: <br />
			<textarea name="instructions" rows="10" cols="60" maxlength="2000" required>{{ recipe.instructions }}</textarea>
		</p>
		<p>
			Ruokavalio: <br />
			{% for diet in diets %}
				<input type="checkbox" name="diet" value="{{ diet.name }}" 
					{% if diet.name in selected_diets %}checked{% endif %} />
				{{ diet.name }}
			{% endfor %}
		</p>
		<p>
			Kategoria: <br />
			<select name="category">
				<option value="">(valitse)</option>
				{% for category in categories %}
				<option value="{{ category.name }}"
					{% if category.name == selected_category %}selected{% endif %}>
					{{ category.name }}
				</option>
				{% endfor %}
			</select>
		</p>
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
		<input type="submit" value="Päivitä reseptiä">
	</form>
</body>

</html>