<!DOCTYPE html>
<html>

<head>
    <title>WIP</title>
</head>

<body>
    <h1>WIP</h1>
    {% if session.username %}
    <p>
        Olet kirjautunut nimellä {{ session.username }}, id-numerosi on {{ session.user_id }}
    </p>
    <p>
        <a href="/new_recipe">Uusi resepti</a>
    </p>
    <p>
        <a href="/logout">Kirjaudu ulos</a>
    </p>

    {% else %}
    <p>
        <a href="/login">Kirjaudu sisään</a>
    </p>
    <p>
        <a href="/register">Luo tunnus</a>
    </p>
    {% endif %}

    <form action="/search_recipe" method="get">
		<p>
			<input type="text" name="query" placeholder="Hae reseptejä">
		</p>
		<input type="submit" value="Hae">
	</form>	
    <h2>Reseptit</h2>
    <ul>
        {% for recipe in recipes %}
        <li><a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_name }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>