<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
	<h1>Uusi resepti</h1>
	<form action="/create_recipe" method="post" enctype="multipart/form-data">
		<p>
			Reseptin nimi: <br />
			<input type="text" name="recipe_name" maxlength="50" required>
		</p>
        <p>
            Ainesosat: <br />
            <textarea name="ingredients" rows="10" cols="40" maxlength="200" required></textarea>
        </p>
		<p>
			Valmistusohjeet: <br />
			<textarea name="instructions" rows="10" cols="60" maxlength="2000" required></textarea>
		</p>
		<p>
			Ruokavalio: <br />
			{% for diet in diets %}
				<input type="checkbox" name="diet" value="{{ diet.name }}" />{{ diet.name }}
			{% endfor %}
		</p>
		<p>
			Kategoria: <br />
			<select name="category">
				<option value="">(valitse)</option>
				{% for category in categories %}
				<option value="{{ category.name }}">{{ category.name }}</option>
				{% endfor %}
			</select>
		</p>
		<p>
			Lisää kuva (valinnainen): <br />
			<input type="file" name="image" accept=".jpg">
		</p>
		<input type="submit" value="Luo resepti">
	</form>
</body>

</html>