{% extends "layout.html" %}

{% block title %}Hae reseptejä{% endblock %}

{% block content %}
<h2>Hae reseptejä</h2>

<form action="/search_recipe" method="get">
    <p>
        <label for="query">Hakusana:</label>
        <input type="text" id="query" name="query" value="{{ query }}" maxlength="100">
    </p>
    <input type="submit" value="Hae reseptejä">
</form>	

<p>
    <a href="/">Takaisin</a>
</p>

{% if query %}
<h3>Haun tulokset</h3>
{% for recipe in results %}
<div class="recipe">
<a href="/recipe/{{ recipe.id }}">{{ recipe.recipe_name }}</a><br />
Tekijä: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br />
Kommentteja: {{ recipe.comment_count }}
</div>
{% endfor %}
{% endif %}
{% endblock %}